.pusher .mobile-nav .menu a.toc {
  display: none;
}
.ui.vertical.menu > .logo {
  display: none;
}

@media only screen and (min-width: 992px) {
    
 .pusher .ui #chat-box {
     width: 600px;
     overflow-x: hidden;
     margin: 0 auto;
     height: auto;       
 }
 .pusher .ui .header h2 {
  margin-top: 20px;
 }
 .pusher .main .mainBody {
     margin-top: 100px;
     padding-top: 100px;
 }
}

@media only screen and (max-width: 700px) {
  
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .ui.hidden.menu {
    display: none;
  } 
  
  .pusher .mobile-nav .menu a.toc {
    display: block;
    padding-top: 17px;
  }
 .ui.vertical.menu > .item:first-child {
    display: block;
  }
  
}