<div class="ui three stackable cards">                 
    <div class="ui fluid link card">
        <!-- <div class="image">
            <img class="img responsive" src="../static/flack-bg.png">
        </div> -->
        <div class="content">
            <div class="header">Sani Abdulkadir Forum</div> 
            <div class="meta">
                <span class="date">Created by <a href="#">tjyusuf</a></span>
            </div>                       
            <div class="description">
                The Sani Abdulkadir Family Channel
            </div>
        </div>
        <div class="extra content">
            <span class="right floated">
                Created in 2013
            </span>
            <span>
                <i class="user icon"></i>
                75 Members
            </span>
        </div>
        <di class="extra content">
            <div class="ui basic green button">Join</div>
        </di>
    </div>
</div>
      
    
        <div class="ui fluid link card">
            <div class="image">
            <img class="img responsive" src="../static/flack-bg.png">
            </div>
            <div class="content">
            <div class="header">Sani Abdulkadir Forum</div>                        
            <div class="description">
                The Sani Abdulkadir Family Channel
            </div>
            </div>
            <div class="extra content">
            <span class="right floated">
                Created in 2013
            </span>
            <span>
                <i class="user icon"></i>
                75 Members
            </span>
            </div>
        </div>
    
    
        <div class="ui fluid link card">
            <div class="image">
            <img class="img responsive" src="../static/flack-bg.png">
            </div>
            <div class="content">
            <div class="header">Sani Abdulkadir Forum</div>                        
            <div class="description">
                The Sani Abdulkadir Family Channel
            </div>
            </div>
            <div class="extra content">
            <span class="right floated">
                Created in 2013
            </span>
            <span>
                <i class="user icon"></i>
                75 Members
            </span>
            </div>
        </div>
       
</div>